---
import { US } from 'country-flag-icons/react/3x2'
import { AE } from 'country-flag-icons/react/3x2'
---

<style>
    #languageLink {
        cursor: pointer;
    }
    .font-roboto {
      font-family: 'Roboto', sans-serif;
    }

    .language-dropdown {
        min-width: 80px !important;
        padding: 2px 8px !important;
    }

    .language-option {
        display: flex;
        align-items: center;
    }

    .language-text {
        margin-right: 2px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #ffffff;
        min-width: 180px;
        padding: 5px 10px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    .dropdown-content .dropdown-link {
        color: #333333;
        text-decoration: none;
        display: block;
        padding: 10px 0;
    }

    .dropdown-content .dropdown-link:hover {
        color: #4CAF50;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .fa-caret-down {
        transition: transform 0.3s ease-in-out;
        margin-left: 1px;
    }

    .dropdown:hover .fa-caret-down {
        transform: rotate(180deg);
    }

    .flag-icon {
        height: 15px; /* adjust as needed */
        width: 25px; /* adjust as needed */
        margin-right: 3px;
    }

    .dropdown-link {
        color: #333333;
        text-decoration: none;
        display: block;
        padding: 10px 0;
        cursor: pointer; /* Add this line */
    }
</style>

<nav id="navbar" class="bg-white h-28 flex items-center justify-between pr-20 sticky top-0 z-50 transition-all duration-500">
    <a href="/">
        <img id="logo" class="h-20 w-42 pl-12 transition-all duration-500" src="/favicon.png" alt="Logo" />
    </a>
    <div class="space-x-6 flex font-roboto"> <!-- Add 'flex' here -->
        <a id="homeLink" class="no-underline hover:text-green-500" href="/">HOME</a>
        <a id="aboutLink" class="no-underline hover:text-green-500" href="/about-us">ABOUT</a>
        <div class="dropdown relative">
            <a id="servicesLink" class="no-underline hover:text-green-500" href="/services">SERVICES <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a class="dropdown-link" href="/pest-control-services">Pest Control Services</a>
                <a class="dropdown-link" href="/disinfection-services">Disinfection Services</a>
            </div>
        </div>
        <a id="pestsLink" class="no-underline hover:text-green-500" href="/pest-library">PESTS</a>
        <a id="blogsLink" class="no-underline hover:text-green-500" href="/blogs">BLOGS</a>
        <a id="contactLink" class="no-underline hover:text-green-500" href="/contact-us">CONTACT</a>
        <a id="404Link" class="no-underline hover:text-green-500" href="/404">404</a>
        <div class="dropdown relative">
            <a id="languageLink" class="no-underline hover:text-green-500">
                <span class="language-option">
                    <US className="flag-icon" /> <span class="language-text">EN</span> <i class="fas fa-caret-down"></i>
                </span>
            </a>
            <div class="dropdown-content language-dropdown">
                <a class="dropdown-link" onclick="changeLanguage(event, 'Arabic')">
                    <span class="language-option">
                        <AE className="flag-icon" /> <span class="language-text">AR</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<script>
    const links = {
        '/': document.getElementById('homeLink'),
        '/services': document.getElementById('servicesLink'),
        '/pest-library': document.getElementById('pestsLink'),
        '/blogs': document.getElementById('blogsLink'),
        '/contact-us': document.getElementById('contactLink'),
        '/about-us': document.getElementById('aboutLink'),
        '/404': document.getElementById('404Link')
    }
    const activeLink = links[window.location.pathname];
    if(activeLink){
        activeLink.classList.add('text-green-500');
    }

    const navbar = document.getElementById('navbar');
    const logo = document.getElementById('logo');
    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            navbar.classList.add('h-20');
            navbar.classList.remove('h-28');
            logo.classList.add('h-16', 'w-34');
            logo.classList.remove('h-20', 'w-42');
        } else {
            navbar.classList.remove('h-20');
            navbar.classList.add('h-28');
            logo.classList.remove('h-16', 'w-34');
            logo.classList.add('h-20', 'w-42');
        }
    });

    let currentLanguage = 'English';
    function changeLanguage(event, language) {
        event.preventDefault();
        const languageLinkText = document.querySelector('#languageLink .language-text');
        const dropdownLinkText = document.querySelector('.dropdown-link .language-text');

        // Swap the languages
        const temp = currentLanguage;
        currentLanguage = language;
        language = temp;

        // Update the text of the links
        languageLinkText.textContent = currentLanguage;
        dropdownLinkText.textContent = language;
    }
</script>