---
// No imports as of yet.
---

<button id="pageUpButton">
    <i class="fas fa-arrow-up"></i>
</button>

<style>
    #pageUpButton {
        position: fixed;
        bottom: 5.5rem;
        right: 0rem;
        background-color: #10B981;
        color: white;
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
        width: 40px; /* Adjust as needed */
        height: 40px; /* Adjust as needed */
        border-top-left-radius: 5px; /* Adjust as needed */
        border-bottom-left-radius: 5px; /* Adjust as needed */
    }

    #pageUpButton.visible {
        opacity: 1;
        pointer-events: auto;
    }

    @media (max-width: 640px) {
        #pageUpButton {
            display: none;
        }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        #pageUpButton {
            display: none;
        }
    }
</style>

<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    const pageUpButton = document.getElementById('pageUpButton');

    window.addEventListener('scroll', function() {
        if (window.scrollY > 200) {
            pageUpButton.classList.add('visible');
        } else {
            pageUpButton.classList.remove('visible');
        }
    });

    pageUpButton.addEventListener('click', function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
});
</script>