---
// Imports
import Navbar from '../components/Navbar/navbar.astro'
import PageUpButton from '../components/pageUpButton.astro'
// import HamburgerButton from '../components/hamburgerMenu.astro'

// Define a default title
let title = Astro.props.title ?? 'PestControl'
// Define whether navbar appears for a page or not
let showNavbar = Astro.props.showNavbar ?? true;
---

<!DOCTYPE html>
<html>
<head>
    <title>{title}</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>
<body class="bg-black">
  {showNavbar && <Navbar />} <!-- Conditionally render the Navbar -->
  <!-- <HamburgerButton /> -->
  <slot /> <!-- This is where the content of your pages will be injected -->
  <!-- <ChatButton /> -->
  <PageUpButton />
</body>
</html>